* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(180deg, rgba(249, 198, 55, 0.4), rgba(250, 153, 67, 0.4));
  background-repeat: no-repeat;
  color: #5c5c5c;
  font-family: roboto, sans-serif;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  position: relative;
  /*-----TODO LIST-----*/
  /*-----IMAGE-----*/
}
body .titleContainer {
  min-height: 25vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
body .titleContainer .title {
  font-size: 1.3rem;
  font-weight: 100;
  text-transform: uppercase;
}
body .inputContainer {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}
body .inputContainer #inputTodo {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #5c5c5c;
  width: 60%;
  height: 3vh;
  font-size: 1rem;
}
body #addTodo {
  border: 1px solid #5c5c5c;
  background-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  padding: 10px;
  margin-bottom: 2vh;
  color: #5c5c5c;
  box-shadow: 3px 3px 1px 1px #494949;
  cursor: pointer;
}
body #addTodo:hover {
  background-color: rgba(250, 153, 67, 0.2);
}
body #containerTodo {
  display: flex;
  justify-content: center;
  z-index: 3;
}
body #containerTodo #listTodo {
  list-style: none;
  min-width: 82%;
  max-width: 82%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body #containerTodo .divTodo {
  display: flex;
  justify-content: center;
  gap: 5px;
}
body #containerTodo .todoLi {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
}
body #containerTodo .todoSpan {
  border-bottom: 1px solid #5c5c5c;
  width: 100%;
}
body #containerTodo .btnDone,
body #containerTodo .btnTrash,
body #containerTodo .fa-arrow-up,
body #containerTodo .fa-arrow-down {
  padding: 5px;
  border-radius: 5px;
  border: 0.5px solid #5c5c5c;
  color: #5c5c5c;
  background-color: transparent;
  cursor: pointer;
  margin: 20px 0px 0px 10px;
}
body #containerTodo .btnDone:hover,
body #containerTodo .btnDone:active {
  background-color: #2c7339;
}
body #containerTodo .btnTrash:hover,
body #containerTodo .btnTrash:active {
  background-color: #e92727;
}
body #containerTodo .fa-check,
body #containerTodo .fa-trash-alt {
  pointer-events: none;
}
body #containerTodo .mystyle {
  text-decoration: line-through;
  opacity: 0.5;
}
body #imgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height: 62.5vh;
  position: absolute;
  bottom: 0;
  width: 100%;
}
body img {
  height: 30vh;
  width: 100vw;
  justify-self: flex-end;
}

/*-----MEDIA QUERIES-----*/
@media screen and (min-width: 500px) {
  .titleContainer {
    min-height: 20vh !important;
  }

  #inputTodo {
    width: 33% !important;
  }

  #listTodo {
    min-width: 40% !important;
    max-width: 40% !important;
  }

  img {
    width: 33vw !important;
  }
}

/*# sourceMappingURL=main.css.map */
