* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    180deg,
    rgba(249, 198, 55, 0.4),
    rgba(250, 153, 67, 0.4)
  );
  background-repeat: no-repeat;
  color: #5c5c5c;
  font-family: roboto, sans-serif;
  font-size: 12pt;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;

  .titleContainer {
    min-height: 25vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    .title {
      font-size: 1.3rem;
      font-weight: 100;
      text-transform: uppercase;
    }
  }

  .addTodoContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
    width: 80vw;
  }

  .inputContainer {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 20px;
    align-items: center;
    z-index: 1;

    #inputTodo {
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #5c5c5c;
      width: 80%;
      height: 3vh;
      font-size: 1rem;
      border-radius: 0;

      &:focus-visible {
        outline: 0;
      }
    }

    .dateContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }

    .datePicker,
    .deadlineTxt {
      display: none;
    }
    .datePickerShow,
    .deadlineTxtShow {
      display: block;
    }

    #date {
      background-color: transparent;
    }

    .datePickerBtnContainer {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;
      min-height: 10vh;
    }
    .btnDeadline {
      border: 1px solid #5c5c5c;
      background-color: transparent;
      border-radius: 5px;
      text-transform: uppercase;
      height: 40px;
      padding: 0 5px 0 5px;
      color: #5c5c5c;
      box-shadow: 3px 3px 1px 1px #494949;
      width: 80%;
      text-align: center;
      margin-bottom: 10px;
    }
  }

  .noTodo::placeholder {
    color: red !important;
  }

  input {
    border: 0;
    outline: 0;
  }
  input:focus {
    outline: none !important;
  }

  #addTodo {
    border: 1px solid #5c5c5c;
    background-color: transparent;
    border-radius: 5px;
    text-transform: uppercase;
    height: 40px;
    padding: 0 5px 0 5px;
    color: #5c5c5c;
    box-shadow: 3px 3px 1px 1px #494949;
    width: 80%;
  }

  /*-----TODO LIST-----*/

  #containerTodo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    #listTodo {
      list-style: none;
      width: 80vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    .divTodo {
      display: flex;
      justify-content: center;
      gap: 5px;
    }

    .todoLi {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
    }

    .todoItemContainer {
      width: 100%;
    }
    .todoSpan {
      width: 100%;
      margin-bottom: 10px;
    }

    .todoDeadline {
      border-bottom: 1px solid #5c5c5c;
      width: 100%;
      font-size: 0.8rem;
    }

    .btnDone,
    .btnTrash {
      padding: 5px;
      border-radius: 5px;
      border: 0.5px solid #5c5c5c;
      color: #5c5c5c;
      background-color: transparent;
      margin: 20px 0px 0px 10px;
    }

    .fa-check,
    .fa-trash-alt {
      pointer-events: none;
    }

    .mystyle {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }

  /*-----IMAGE-----*/

  .sortContainer {
    width: 40vw !important;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 10px 0;
    min-height: 4vh;
    max-height: 5vh;
    margin-top: 40px;

    .sortTxt {
      text-transform: uppercase;
      margin: 0 10px 0 10px;
    }

    .arrowContainer {
      border: 0.5px solid #5c5c5c;
      border-radius: 5px;
      padding: 5px;
    }
    .sortArrow {
      width: 1.5rem;
    }
    .arrowDown {
      transform: rotate(-90deg);
    }
    .arrowUp {
      transform: rotate(90deg);
    }
  }
}

#ui-datepicker-div {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 1;
  display: block;
  &:focus-visible {
    outline: 0;
  }
}

#datepicker {
  border: 1px solid #5c5c5c;
  background-color: transparent;
  border-radius: 5px;
  text-transform: uppercase;
  height: 40px;
  padding: 0 5px 0 5px;
  color: #5c5c5c;
  box-shadow: 3px 3px 1px 1px #494949;
  width: 80%;
  text-align: center;
  margin-bottom: 10px;
}

div[style="left"] {
  right: 70px;
}

/*-----MEDIA QUERIES-----*/

@media screen and (min-width: 500px) {
  #addTodo:hover,
  .arrowContainer:hover,
  .btnDone:hover,
  .btnTrash:hover {
    background-color: rgba(250, 153, 67, 0.2);
    cursor: pointer;
  }

  .btnDeadline:hover {
    background-color: rgba(250, 153, 67, 0.2);
    cursor: pointer;
  }

  .titleContainer {
    min-height: 20vh !important;
  }

  .addTodoContainer {
    width: 40vw !important;
  }

  #listTodo {
    width: 40vw !important;
  }
}
